################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/AbstractFactoryImpl/bin/Debug/netcoreapp3.1
/.vs/DesignPatterns/DesignTimeBuild
/AbstractFactoryImpl/obj
/ConsoleApp1/obj
/DesignPatterns/bin/Debug/netcoreapp3.1
/DesignPatterns/obj
/SingletonImpl/bin/Debug/netcoreapp3.1
/SingletonImpl/obj
/Frameworks_Patterns/AbstractFactoryImpl/bin/Debug/netcoreapp3.1
/Frameworks_Patterns/AbstractFactoryImpl/obj
/Frameworks_Patterns/DesignPatterns/bin/Debug/netcoreapp3.1
/Frameworks_Patterns/DesignPatterns/obj
/Frameworks_Patterns/SingletonImpl/bin/Debug/netcoreapp3.1
/Frameworks_Patterns/SingletonImpl/obj
/Frameworks_Patterns/.vs/DesignPatterns/DesignTimeBuild
/CSharp_Concepts/TPL_CancellationToken/WinForms/HelloWorld/bin/Debug
/CSharp_Concepts/TPL_CancellationToken/WinForms/HelloWorld/obj/Debug
/CSharp_Concepts/TPL_CancellationToken/WinForms/HelloWorld/obj/Release
/.vs
